# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d0fdada9109d45df82f52f82ad5d49c4511e66783344b42afa2a61d4407f17cd2f7dcee8e30b65d3e3d87e51eb95517146c274959abc45b4151784996a273995

test:
  secret_key_base: 3011ca4572484e6ba4cc1e0978d591b057a723dca2725343eae4a96a38eca863cbb44517f26f14c6633d56f7117b8e9e101ee83b1bf959c6aa48d4e864c0dae0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
