<div id="dashboard_bg" class="dashboard_bg"/>
  <br/><br/>
  <div class="container" >
    <div class="well" >
			<h1>Editing asset</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @asset %> |
			<%= link_to 'Back', assets_path %>
	</div>
 </div>
</div>
